.root {
  display: flex;
  flex-direction: row;
  background-color: var(--contrast-bg-color);
  border-top: 1px solid var(--contrast-color);
  gap: 8px;
  
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 24px;
  line-height: 24px;
}