.root {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  border: solid 1px var(--contrast-color);
  border-radius: 8px;
}

.upload {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.size {
  display: flex;
  flex-direction: row;
  gap: 8px;
}



.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
}

.image {
  width: 100%;
}